<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteControl</servlet-name>
        <servlet-class>controlador.ClienteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesaControl</servlet-name>
        <servlet-class>controlador.MesaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MozoControl</servlet-name>
        <servlet-class>controlador.MozoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoControl</servlet-name>
        <servlet-class>controlador.ProductoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoControl</servlet-name>
        <servlet-class>controlador.PedidoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoControl</servlet-name>
        <servlet-class>controlador.CarritoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteControl</servlet-name>
        <servlet-class>controlador.ReporteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthControl</servlet-name>
        <servlet-class>controlador.AuthControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carritoControl</servlet-name>
        <servlet-class>controlador.CarritoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteControl</servlet-name>
        <url-pattern>/ClienteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesaControl</servlet-name>
        <url-pattern>/MesaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MozoControl</servlet-name>
        <url-pattern>/MozoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoControl</servlet-name>
        <url-pattern>/ProductoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoControl</servlet-name>
        <url-pattern>/PedidoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoControl</servlet-name>
        <url-pattern>/CarritoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteControl</servlet-name>
        <url-pattern>/ReporteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthControl</servlet-name>
        <url-pattern>/AuthControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carritoControl</servlet-name>
        <url-pattern>/carritoControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
